<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <h1> Cadastrar equipe </h1>
    {% if quantidade == 0 %}
    <form action="{% url 'cadastro_equipe' %}" method="get">{% csrf_token %}
        <p>qual a quantidade de funcionarios <input type="number" name="quantidade" id="quantidade"></p>
        <input type="submit" value="confirmar">
    </form>
    {% elif quantidade > 0 %}
    <form action="{% url 'cadastro_equipe' %}" method="post">{% csrf_token %}
        <p> matricula estudante
            <select name="matricula" id="matricula">
                {% for estudante in estudantes %}
                <option value="{{estudante.matricula}}">{{estudante.matricula}} - {{estudante.nome}}</option>
                {% endfor %}
            </select>
        </p>
        {% for i in lista %}
        <p>cpf do funcionario <input type="number" name="cpf_{{i}}" id="cpf_{{i}}"></p>
        {% endfor %}
        <input type="hidden" name="quantidade" value="{{quantidade}}">
        <input type="submit" value="cadastrar">
    </form>
    {% endif %}
</body>
</html>