<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="bg-cinza d-flex justify-content-center align-items-center min-vh-100">
    {% include 'barra_lateral.html' %}
    <main class="flex-grow-1 p-5">
        <div class="topbar fw-bold" style=" background-color: #00B612; color: #ffffff; font-size: 14px;">
            Sistema de Gestão de PEI e Acompanhamento Pedagogico
        </div>
        <br>
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-{{msg.tags}}">
                {{msg}}
            </div>
            {% endfor %}
        {% endif %}
        <div class="display-6 p-2">
            Cadastro Estudante
        </div>
        <form action="{% url 'cadastro_estudante' %}" method="post">{% csrf_token %}
            <div class="d-flex flex-column container-branco p-5 flex-shrink-0 p-3">
                <div class="h3">
                    Informações Estudante
                </div>
                <hr class="w-100  m-0 p-0 border-dark">
                <br>
                <div class="row g-3">
                    <div class="mb-3">
                        <label for="nome" class="p-1">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome">
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="p-1">CPF</label>
                        <input class="form-control" type="text" name="cpf" id="cpf">
                    </div>
                    <div class="mb-3">
                        <label for="curso" class="form-label">curso</label>
                        <input class="form-control" type="text" name="curso" id="curso">
                    </div>
                </div>
                <br>
                <div class="row g-3">
                    <div class="mb-3">
                        <label for="data_de_nascimento" class="p-1">Data de nascimento</label>
                        <input class="form-control" type="date" name="data_de_nascimento" id="data_de_nascimento">
                    </div>
                    <div class="mb-3">
                        <label for="matricula" class="p-1">Matricula</label>
                        <input class="form-control" type="text" name="matricula" id="matricula">
                    </div>
                    <div class="mb-3">
                        <label for="turma" class="p-1">Turma</label>
                        <input class="form-control" type="text" name="turma" id="turma">
                    </div>
                    <div class="mb-3">
                        <label for="periodo" class="p-1">Periodo</label>
                        <input class="form-control" type="number" name="periodo" id="periodo">
                    </div>
                    <div class="mb-3">
                        <label for="ingresso" class="p-1">Ingresso</label>
                        <input class="form-control" type="date" name="ingresso" id="ingresso">
                    </div>
                    <div class="mb-3">
                        <label for="nota" class="p-1">Nota</label>
                        <input class="form-control" type="number" name="nota" id="nota">
                    </div>
                </div>
                <br>
                <div class="row g-3">
                    <div class="mb-3">
                        <label for="telefone" class="p-1">Telefone</label>
                        <input class="form-control" type="text" name="telefone" id="telefone">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="p-1">Email</label>
                        <input class="form-control" type="email" name="email" id="email">
                    </div>
                </div>
                <br>
                <div class="h3">
                    Informações Responsaveis
                </div>
                <hr class="w-100  m-0 p-0 border-dark">
                <br>
                    <div class="mb-3">
                        <label for="mae" class="p-1">Nome Mãe</label>
                        <input class="form-control" type="text" name="mae" id="mae">
                    </div>
                    <div class="mb-3">
                        <label for="pai" class="p-1">Nome Pai</label>
                        <input class="form-control" type="text" name="pai" id="pai">
                    </div>
                    <div class="mb-3">
                        <label for="telefone_responsavel" class="p-1">Telefone responsavel</label>
                        <input class="form-control" type="text" name="telefone_responsavel" id="telefone_responsavel">
                    </div>
                    <div class="mb-3">
                        <label for="email_responsavel" class="p-1">Email responsavel</label>
                        <input class="form-control" type="email" name="email_responsavel" id="email_responsavel">
                    </div>
                    <input class="btn btn-success p-1 w-100" type="submit" value="Cadastrar">
            </div>

        </form>
    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>