<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>cadastrar pei</h1>
    <p><a href="{% url 'pei' %}">PEI</a></p>
    <p><a href="{% url 'cadastro_equipe' %}">cadastro equipe</a></p>
    <p><a href="{% url 'diagnostico' %}">diagnostico</a></p>
    <p><a href="{% url 'historico_escolar' %}">historico escolar</a></p>
    <p><a href="{% url 'perfil_estudante' %}">perfil estudante</a></p>
    <p><a href="{% url 'atividade' %}">atividade</a></p>
    <p><a href="{% url 'planejamento' %}">planejamento</a></p>
    <p><a href="{% url 'habilidade_academica' %}">habilidade academica</a></p>
    <p><a href="{% url 'adaptacao_curriculo' %}">adaptacao curriculo</a></p>
    <p><a href="{% url 'adaptacao_objetivo' %}">adaptacao objetivo</a></p>
    <p><a href="{% url 'adaptacao_conteudo' %}">adaptacao conteudo</a></p>
    <p><a href="{% url 'adaptacao_metodo' %}">adaptacao metodo</a></p>
    <p><a href="{% url 'adaptacao_sistema' %}">adaptacao sistema</a></p>
    <p><a href="{% url 'adaptacao_temporalidade'%}">adaptacao temporalidade</a></p>
</body>
</html>