<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
        <div class="d-flex container justify-content-center align-items-center flex-direction-row vw-100">
            <div class="box">
            <h1>Cadastro de estudante</h1>
            <form action="{% url 'cadastro_estudante' %}" method="post">{% csrf_token %}
                <div class="mb-3">
                    <label for="cpf" class="form-label">cpf</label>
                    <input class="form-control" type="number" name="cpf" id="cpf">
                </div>
                <div class="mb-3">
                    <label for="matricula" class="form-label">matricula</label>
                    <input class="form-control" type="number" name="matricula" id="matricula">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">nome</label>
                    <input class="form-control" type="text" name="nome" id="nome">
                </div>
                <div class="mb-3">
                    <label for="data_de_nascimento" class="form-label">data de nascimento</label>
                    <input class="form-control" type="date" name="data_de_nascimento" id="data_de_nascimento">
                </div>
                <div class="mb-3">
                    <label for="curso" class="form-label">curso</label>
                    <input class="form-control" type="text" name="curso" id="curso">
                </div>
                <div class="mb-3">
                    <label for="periodo" class="form-label">periodo</label>
                    <input class="form-control" type="number" name="periodo" id="periodo">
                </div>
                <div class="mb-3">
                    <label for="turma" class="form-label">turma</label>
                    <input class="form-control" type="text" name="turma" id="turma">
                </div>
                <div class="mb-3">
                    <label for="ingresso" class="form-label">ingresso</label>
                    <input class="form-control" type="date" name="ingresso" id="ingresso">
                </div>
                <div class="mb-3">
                    <label for="nota" class="form-label">nota</label>
                    <input class="form-control" type="number" name="nota" id="nota">
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">telefone</label>
                    <input class="form-control" type="text" name="telefone" id="telefone">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input class="form-control" type="email" name="email" id="email">
                </div>
                <div class="mb-3">
                    <label for="pai" class="form-label">pai</label>
                    <input class="form-control" type="text" name="pai" id="pai">
                </div>
                <div class="mb-3">
                    <label for="mae" class="form-label">mae</label>
                    <input class="form-control" type="text" name="mae" id="mae">
                </div>
                <div class="mb-3">
                    <label for="telefone_responsavel" class="form-label">telefone responsavel</label>
                    <input class="form-control" type="text" name="telefone_responsavel" id="telefone_responsavel">
                </div>
                <div class="mb-3">
                    <label for="email_responsavel" class="form-label">email responsavel</label>
                    <input class="form-control" type="email" name="email_responsavel" id="email_responsavel">
                </div>
                <input class="btn btn-success" type="submit" value="cadastrar">
            </form>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>