<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <h1>Checklist</h1>
    <h1>{{tipo}}</h1>
    <form action="{% url nome %}" method="post">{% csrf_token %}
        <p>matricula do estudante <input type="text" name="matricula" id="matricula"></p>
        {%for item in checklist%}
        <p>
            <label>
                <input type="checkbox" name="checklist" id="" value="{{item}}">
                {{item}}
            </label>
        </p>
        {%endfor%}
        <p>texto <input type="text" name="texto" id="texto"></p>
        <input type="submit" value="confirmar">
    </form>
</body>
</html>