<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <h1>diagnostico</h1>
    <form action="{% url 'diagnostico' %}" method="post">{% csrf_token %}
        <p>Qual a matricula do estudante <input type="number" name="estudante" id="estudante"></p>
        <p>O estudante possui laudo</p>
        <select name="laudo" id="laudo">
            <option value="sim">sim</option>
            <option value="nao">nao</option>
            <option value="em fase de avaliacao">em fase de avaliacao</option>
        </select>
        <p>Qual o diagnostico <input type="text" name="texto_diagnostico" id="texto_diagnostico"></p>
        <p>Ano que foi descoberto o diagnostico <input type="number" name="ano" id="ano"></p>
        <p>Realiza algum atendimento fora da escola</p>
        <select name="atendimento" id="atendimento">
            <option value="sim">sim</option>
            <option value="nao">nao</option>
        </select>
        <p>Qual tipo de atendimento e periodicidade <input type="text" name="texto_atendimento" id="texto_atendimento"></p>
        <input type="submit" value="confirmar">
    </form>
</body>
</html>