<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>estudantes cadastrados</h1>
    {% for estudante in estudantes %}
    <p>matricula: {{estudante.matricula}}</p>
    <p>cpf: {{estudante.cpf}}</p>
    <p>nome: {{estudante.nome}}</p>
    <p>data de nascimento: {{estudante.data_de_nascimento}}</p>
    <p>curso: {{estudante.curso}}</p>
    <p>turma: {{estudante.turma}}</p>
    <p>periodo: {{estudante.periodo}}</p>
    <p>ingresso: {{estudante.ingresso}}</p>
    <p>email: {{estudante.email}}</p>
    <p>telefone: {{estudante.telefone}}</p>
    <hr>
    {% endfor %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>