<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
   {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    {% include 'barra_lateral.html' %}
    <main class="flex-grow-1 p-5">
        <div class="topbar fw-bold" style=" background-color: #00B612; color: #ffffff; font-size: 14px;">
            Sistema de Gestão de PEI e Acompanhamento Pedagogico
        </div>
        <div class="display-6 p-2">
            Funcionarios cadastrados
        </div>
        <hr class="w-100  m-0 p-0 border-dark">
        <br>
         <form method="get" class="bg-cinza w-100 p-4 rounded">
            <div class="p-1">Nome/CPF/Função</div>
            <div class="row g-3 mb-3">
                <div class="col-md-4"><input name="filtro" value="{{ filtro }}"  class="form-control"></div>
                <div class="col-md-3"><button type="submit" class="btn btn-success">Filtrar</button></div>
            </div>
        </form>
        <br>

        <table class="table w-100 mb-0 tabela-customizada">
            <thead>
                <tr>
                    <th class="p-2">Funcionario</th>
                    <th class="p-2">CPF</th>
                    <th class="p-2">Função</th>
                </tr>
            </thead>

            <tbody>
            {% if funcionarios %}
                {% for funcionario in funcionarios %}
                <tr>
                    <td class="p-2">{{ funcionario.nome }}</td>
                    <td class="text-center p-2">{{ funcionario.cpf }}</td>
                    <td class="p-2">{{ funcionario.funcao }}</td>
                </tr>
                {% endfor %}
            {% else %}
                 <tr>
                    <td>
                    Nenhum funcionario encontrado
                    </td>
                 </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center p-3">
            <div class="text-secondary">
                Mostrando {{funcionarios.start_index}} a {{funcionarios.end_index}} de {{ funcionarios.paginator.count }} registros
            </div>
            <div class="d-flex gap-3">
                <div>
                    {% if funcionarios.has_previous %}
                        <a href="?page={{ funcionarios.previous_page_number }}" class="btn btn-paginacao pt-1 pe-4 pb-1 ps-4"> Anterior </a>
                    {% endif %}
                </div>
               <div>
                   {% if funcionarios.has_next %}
                        <a href="?page={{ funcionarios.next_page_number }}" class="btn btn-paginacao pt-1 pe-4 pb-1 ps-4"> Proximo </a>
                   {% endif %}
               </div>
            </div>
        </div>
    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>