<!doctype html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gerar PEI em PDF</title>
</head>
<style>
     body {
          font-family: Arial, sans-serif;
          font-size: 12px;
          line-height: 1.5;
          background-color: white;
     }

     h1 {
         text-align: center;
         font-size: 24px;
     }

     h2 {
         text-align: center;
         font-size: 18px;
     }
     h3{
         text-align: center;
         font-size: 14px;
     }
     table {
         width: 100%;
         border-collapse: collapse;
     }
    th,
    td {
        border: 1px solid #999; /* Divisões internas */
        padding: 8px;
        text-align: left;
        vertical-align: top;
    }

    th {
        font-weight: bold;
    }
    .assinatura {
        margin-bottom: 250px;
    }
</style>
<body>
    <h1>PLANEJAMENTO EDUCACIONAL INDIVIDUALIZADO - PEI</h1>
    <table>
        <thead>
            <tr>
                <th colspan="4">
                    <h2>
                    Identificação
                    </h2>
                </th>
            </tr>
            <tr>
                <th style="width: 30%">
                    Nome do(a) estudante
                </th>
                <td colspan="3">
                    {{estudante.nome}}
                </td>
            </tr>
            <tr>
                <th style="width: 30%">
                    Data de nascimento
                </th>
                <td>
                    {{estudante.data_de_nascimento|date:'d/m/Y'}}
                </td>
                <th style="width: 15%">
                    Ano/serie
                </th>
                <td>
                    {{estudante.periodo}}
                </td>
            </tr>
            <tr>
                <th style="width: 30%">
                    Professor regente
                </th>
                <td colspan="3">
                    {{professor.nome}}
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <h3>Equipe de elaboração do PEI</h3>
                    {% for fs in funcionarioEstudante %}
                        <p>{{fs.funcionario.nome}}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th style="width: 30%">
                    Data de validade do pei
                </th>
                <th colspan="3">
                    {{pei.tempo |date:'d/m/Y'}}
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <br>
    <table>
    <thead>
        <tr>
            <th colspan="2">
                <h2>
                    Diagnostico
                </h2>
            </th>
        </tr>
        <tr>
            <th>
                O estudante tem laudo?
            </th>
            <td>
                {{diagnostico.laudo}}
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <h3> Diagnóstico</h3>
                (Identificar: a especificidade (deficiência e/ou transtorno funcional específico), CID (caso tenha laudo), descrição das características por conta do diagnóstico).
                Caso esteja em avaliação ou não tenha laudo, descrever a suspeita, identificando o porquê.
            </th>
        </tr>
        <tr>
            <td colspan="2">
                {{diagnostico.texto}}
            </td>
        </tr>
        <tr>
            <th>
                Ano que o diagnostico foi descoberto:
            </th>
            <td style="width: 30%">
                {{diagnostico.ano_diagnostico}}
            </td>
        </tr>
        <tr>
            <th>
                Realiza algum atendimento fora da escola
            </th>
            <td>
                {{diagnostico.atendimento_fora_da_escola}}
            </td>
        </tr>
        <tr>
            <th colspan="2">
                Caso tenha informado que sim, identificar qual tipo de atendimento e periodicidade
                (Exemplos: Fonoaudiólogo, Fisioterapeuta, Psicopedagoga, etc)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                {{diagnostico.texto_atendimento}}
            </td>
        </tr>
    </thead>
    </table>
    <br>
    <table>
        <tr>
            <th>
                <h2>Breve historico escolar</h2>
            </th>
        </tr>
        <tr>
            <td>
                {{historico_escolar.texto}}
            </td>
        </tr>
        <tr>
            <th>
               Adaptações, estratégias e procedimentos metodológicos já utilizados, que obtiveram êxito com o(a) estudante
            </th>
        </tr>
        <tr>
            <td>
                {{historico_escolar.texto2}}
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th colspan="2">
                <h2>Perfil do estudante</h2>
            </th>
        </tr>
        <tr>
            <th style="width: 30%">
                Principais interesses
            </th>
            <td>
                {{perfil_estudante.interesse}}
            </td>
        </tr>
        <tr>
            <th style="width: 30%">
                Principais habilidades
            </th>
            <td>
                {{perfil_estudante.habilidade}}
            </td>
        </tr>
        <tr>
            <th style="width: 30%">
                Não gosta de
            </th>
            <td>
                {{perfil_estudante.nao_gosta}}
            </td>
        </tr>
        <tr>
            <th style="width: 30%">
                Principais dificuldades e desafios
            </th>
            <td>
                {{perfil_estudante.dificuldade}}
            </td>
        </tr>
        <tr>
            <th colspan="2">
                Outras informações relevantes (indicar de forma sucinta elementos de apoio oferecidos pela família, profissionais clínicos e outros atendimentos/tratamentos/encaminhamentos)
            </th>
        </tr>
        <tr>
            <td colspan="2">
                {{perfil_estudante.informacao}}
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th colspan="2">
                <h2>ENCAMINHAMENTOS SUGERIDOS / ADAPTAÇÕES</h2>
            </th>
        </tr>
        {% for adaptacao in checklist %}
        <tr>
            <th>
                <h3>{{adaptacao.checklist}}</h3>
            </th>
        </tr>
        <tr>
            <td>
                {{adaptacao.pergunta|linebreaks}}
            </td>
        </tr>
        <tr>
            <th colspan="2">
                Descrever/Especificar as adaptações selecionadas:
            </th>
        </tr>
        <tr>
            <td colspan="2">
                {{adaptacao.texto}}
            </td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <table>
        <tr>
            <th>
                <h2>OUTRAS ATIVIDADES / ACOMPANHAMENTOS A SEREM DESENVOLVIDOS</h2>
            </th>
        </tr>
        <tr>
            <th>
                Atividades Complementares / Serviços a serem desenvolvidos dentro da escola, ou com encaminhamento (fora da escola).
            </th>
        </tr>
        <tr>
            <td>
                {{atividade.atividade}}
            </td>
        </tr>
        <tr>
            <th>
                Trabalho com a turma sobre respeito às diferenças e diversidade (quando necessário)
            </th>
        </tr>
        <tr>
            <td>
                {{atividade.descricao}}
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th colspan="2">
                <h2>PLANEJAMENTO EDUCACIONAL INDIVIDUALIZADO</h2>
            </th>
        </tr>
        <tr>
            <th colspan="2">
                <h3> PLANEJAMENTO PARA O ENSINO E APRENDIZAGEM DE HABILIDADES GERAIS</h3>
            </th>
        </tr>
        <tr>
            <th style="width: 40%">
                Habilidades
            </th>
            <td>
                {{planejamento.habilidade}}
            </td>
        </tr>
        <tr>
            <th style="width: 40%">
                Metas curto prazo
            </th>
            <td>
                {{planejamento.metas_curto_prazo}}
            </td>
        </tr>
         <tr>
            <th style="width: 40%">
                Metas medio prazo
            </th>
            <td>
                {{planejamento.metas_medio_prazo}}
            </td>
        </tr>
         <tr>
            <th style="width: 40%">
                Metas longo prazo
            </th>
            <td>
                {{planejamento.metas_longo_prazo}}
            </td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th colspan="4">
                <h2>HABILIDADES ACADÊMICAS – POR COMPONENTE CURRICULAR QUE NECESSITAR DE ADAPTAÇÃO INDIVIDUALIZADA</h2>
            </th>
        </tr>
        <tr>
            <th style="width: 15%">
                Componente Curricular
            </th>
            <td style="width: 30%">
                {{habilidadeAcademica.componente_curricular}}
            </td>
            <th style="width: 20%">
                Necessidade de Adaptações Curriculares
            </th>
            <td >
                {{habilidadeAcademica.adaptacao_curricular}}
            </td>
        </tr>
        <tr>
            <th colspan="4">
                Habilidades Esperadas para o estudante com deficiência / necessidades específicas no componente curricular:
            </th>
        </tr>
        <tr>
            <td colspan="4">
                {{habilidadeAcademica.habilidade}}
            </td>
        </tr>
        <tr>
            <th colspan="4">
                Facilidades e dificuldades do estudante com deficiência / necessidades específicas no componente curricular (Considerar Avaliação Diagnóstica, Contato com a Família e outros profissionais, quando houver)            </th>
            </tr>
        <tr>
            <td colspan="4">
                {{habilidadeAcademica.facilidade_dificuldade}}
            </td>
        </tr>
        <tr>
            <th colspan="2">
                Metas para a turma
            </th>
            <th colspan="2">
                Metas específicas para o estudante com deficiência/necessidades específicas
            </th>
        </tr>
        <tr>
            <td colspan="2">
                {{habilidadeAcademica.metas_turma}}
            </td>
            <td colspan="2">
                {{habilidadeAcademica.metas_especifica}}
            </td>
        </tr>
         <tr>
            <th colspan="4">
                Procedimentos Metodológicos e Estratégias a serem utilizadas
            </th>
        </tr>
        <tr>
            <td colspan="4">
                {{habilidadeAcademica.procedimento_metodologico}}
            </td>
        </tr>
        <tr>
            <th colspan="4">
                Avaliação (Descrever como será e quais adaptações)
            </th>
        </tr>
        <tr>
            <td colspan="4">
                {{habilidadeAcademica.avaliacao}}
            </td>
        </tr>
    </table>
    <br>

    <p class="assinatura">
        Assinatura dos Responsáveis pela elaboração do PEI:
    <p>

    <p class="assinatura">
        Assinatura de ciência e concordância dos pais ou responsáveis pelo estudante:
    </p>

    <p class="assinatura">
        Assinatura da Gestão da Unidade Escolar:
    </p>

    <p style="text-align: center;">
        Planejamento Educacional Individualizado - Gerado pelo Sistema de gestão de PEI no dia {% now "d/m/Y" %} às {% now "H:i" %}
    </p>
    <p style="text-align: center;">
        Este documento foi feito com base no PEI Elaborado pela Profa. Dra. Patricia Zutião, que foi embasado em Mahl, Oliveira e Zutião (2020), e no PEI do IF Baiano Uruçuca
    </p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>