<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Sistema de Gestão de PEI e Acompanhamento Pedagogico</title>
</head>
<body class="bg-cinza d-flex justify-content-center align-items-center min-vh-100">
    {% include 'barra_lateral.html' %}
    <main class="flex-grow-1 p-5">
        <div class="topbar fw-bold" style=" background-color: #00B612; color: #ffffff; font-size: 14px;">
            Sistema de Gestão de PEI e Acompanhamento Pedagogico
        </div>

        <br>
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-{{msg.tags}}">
                {{msg}}
            </div>
            {% endfor %}
        {% endif %}
         <div class="display-6 p-2">
            Cadastro de habilidade acadêmica
        </div>
        <form action="{% url 'habilidade_academica' %}" method="post">{% csrf_token %}
            <div class="d-flex flex-column container-branco p-5 flex-shrink-0 p-3">
                <div class="mb-3">
                    <label for="matricula_estudante" class="p-2">Informe o estudante</label>
                    <select class="form-select" name="matricula_estudante" id="matricula_estudante">
                        {% for estudante in estudantes %}
                            <option value="{{estudante.matricula}}">{{estudante.matricula}} - {{estudante.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="matricula_professor" class="p-2">Informe o professor</label>
                    <select class="form-select" name="matricula_professor" id="matricula_professor">
                        {% for professor in professores %}
                            <option value="{{professor.matricula}}">{{professor.matricula}} - {{professor.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="componente" class="p-2">Componente curricular</label>
                    <input class="form-control" type="text" name="componente" id="componente" required>
                </div>
                    <label class="p-2">Necessidade de Adaptações Curriculares:</label>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item1" value="acesso ao curriculo">
                    <label for="item1" class="form-check-label">Acesso ao currículo</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item2" value="conteudo">
                    <label for="item2" class="form-check-label">conteúdo</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item3" value="objetivos de aprendizagem">
                    <label for="item3" class="form-check-label">Objetivos de aprendizagem</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item4" value="metodologia e org didatica">
                    <label for="item4" class="form-check-label">Metodologia e organização didática</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item5" value="Recursos e materiais pedagogicos">
                    <label for="item5" class="form-check-label">Recursos e materiais pedagogicos</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item6" value="temporalidade">
                    <label for="item6" class="form-check-label">Temporalidade</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item7" value="Atividades escolares">
                    <label for="item7" class="form-check-label">Atividades escolares</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item8" value="Avaliação">
                    <label for="item8" class="form-check-label">Avaliação</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item9" value="Comunicação e participação">
                    <label for="item9" class="form-check-label">Comunicação e participação</label>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" name="adaptacao_curricular" id="item10" value="Outras">
                    <label for="item10" class="form-check-label">Outras</label>
                </div>
                <div class="mb-3">
                    <label for="outras" class="p-2">Se marcou outras escreva quais</label>
                    <input class="form-control" type="text" name="outras" id="outras">
                </div>
                <div class="mb-3">
                    <label for="habilidade" class="p-2">Habilidades Esperadas para o estudante com deficiência / necessidades específicas no componente curricular:</label>
                    <input class="form-control" type="text" name="habilidade" id="habilidade" required>
                </div>
                <div class="mb-3">
                    <label for="objetivo" class="p-2">Descreva os objetivos de aprendizagem para o estudante na componente curricular</label>
                    <input class="form-control" type="text" name="objetivo" id="objetivo" required>
                </div>
                <div class="mb-3">
                    <label for="facilidade" class="p-2">Descreva as potencilidades, interesses e facilidades apresentadas pelo estudante com deficiencia / necessidades especificas no componente curricular</label>
                    <input class="form-control" type="text" name="facilidade" id="facilidade" required>
                </div>
                <div class="mb-3">
                    <label for="dificuldade" class="p-2">Descreva dificuldades, barreiras ou necessidades especificas identificadas no componente curricular</label>
                    <input class="form-control" type="text" name="dificuldade" id="dificuldade" required>
                </div>
                <div class="mb-3">
                    <label for="procedimento" class="p-2">Procedimentos Metodológicos e Estratégias a serem utilizadas</label>
                    <input class="form-control" type="text" name="procedimento" id="procedimento" required>
                </div>
                <div class="mb-3">
                    <label for="adaptacao" class="p-2">Descreva as adaptações nos conteudos, objetivos, atividades e materiais didaticos</label>
                    <input class="form-control" type="text" name="adaptacao" id="adaptacao" required>
                </div>
                <div class="mb-3">
                    <label for="avaliacao" class="p-2">Faça uma avaliação processual do estudante ate o momento</label>
                    <input class="form-control" type="text" name="avaliacao" id="avaliacao" required>
                </div>
                    <input class="btn btn-success p-1 w-100" type="submit" value="cadastrar">
            </div>
        </form>
    </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>