<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-{{ msg.tags }}">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}

    <h1>painel do administrador</h1>
    <p><a class="btn btn-primary" href="{% url 'gerenciar_professor' %}">gerenciar professor</a></p>
    <p><a class="btn btn-primary" href="{% url 'gerenciar_funcionario' %}">gerenciar funcionario</a></p>
    <p><a class="btn btn-primary" href="{% url 'gerenciar_estudante' %}">gerenciar estudante</a></p>
    <p><a class="btn btn-primary" href="{% url 'gerenciar_pei' %}">gerenciar pei</a></p>
    <p><a class="btn btn-primary" href="{% url 'gerar_pdf' %}">gerar_pdf</a></p>
    <p><a class="btn btn-danger" href="{% url 'sair' %}">sair</a></p>
</body>
</html>