<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>professores cadastrados</h1>
    {% for professor in professores %}
    <p>matricula: {{professor.matricula}}</p>
    <p>cpf: {{professor.cpf}}</p>
    <p>nome: {{professor.nome}}</p>
    <p>data de nascimento: {{professor.data_de_nascimento}}</p>
    <p>email: {{professor.email}}</p>
    <p>telefone: {{professor.telefone}}</p>
    <hr>
    {% endfor %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>