<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <h1>remover funcionario</h1>
    <form action="{% url 'remover_funcionario' %}" method="post">{% csrf_token %}
        <label>
            cpf <input type="text" name="cpf" id="cpf" list="funcionario">
        </label>
        <datalist id="funcionario">
            {% for funcionario in funcionarios %}
            <option value="{{funcionario.cpf}}">{{funcionario.nome}}</option>
            {% endfor %}
        </datalist>
        <input type="submit" value="confirmar">
    </form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>