<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <h1>remover estudante</h1>
    <form action="{% url 'remover_estudante' %}" method="post">{% csrf_token %}
        <label>
            matricula
            <input type="text" name="estudante" id="estudante" list="lista_estudante">
        </label>
        <datalist id="lista_estudante">
            {% for estudante in estudantes %}
            <option value="{{estudante.matricula}}">{{estudante.nome}}</option>
            {% endfor %}
        </datalist>
        <input type="submit" value="confirmar">

    </form>
</body>
</html>