<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    <h1>Cadastro </h1>
    <form action="{% url 'cadastro_sistema' %}" method="post">{% csrf_token %}
        <p>cpf <input type="text" name="cpf" id="cpf"></p>
        <p>nome <input type="text" name="nome" id="nome"></p>
        <p>email <input type="text" name="email" id="email"></p>
        <p>senha <input type="password" name="senha" id="senha"></p>
        <p><input type="submit" value="cadastrar"></p>
    </form>
</body>
</html>